@model InfoModel
<div>
    <div>Name: @Model.UserName</div>
    <div>Application name: @Model.AppName</div>
    <div>Enviroment Name: @Model.EnvName</div>
    <div>Protocol: @Model.Protocol</div>
    <div>Host: @Model.Host</div>
    <div>DateTime: @DateTime.Now</div>
</div>